<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        #up{
            float: left;
            text-align: center;

            
        }

        .names{
            float: left;
            font-size: 30px;
        }

        #img{
            

            float: left;
            width: 10px;
        }
        #t{
            font-size: 65px;
        }
        
    </style>
</head>
<body>

    <div id="up">
        <h1 class="names">

            <div id="t">
                <img class="x" src=media/{{myvar.Pfp}} width="120" height="170">
                <span style="color:white">--</span>
                {{myvar.First_Name}}
                {{myvar.Last_Name}}
            </div>

            {{myvar.date_of_birth}}
            <hr>
        </h1>

    <div id="personal">
        <h2>Education and school</h2> {{myvar.education}} | {{myvar.school}}
    </div>

    <div id="bio">

        <h6>{{myvar.bio}}</h6>

        <h2>My experience:</h2> {{myvar.experience}}
        <h2>My skills:</h2> {{myvar.skills}}
    </div>

    <div id="contact">
        <h1>Contact me!</h1>
        <h2>Phone number: {{myvar.phone}}</h2>
        <h2>E-mail: {{myvar.email}}</h2>
    </div>

    
    
        


    </div>
    
</body>
</html>